/* ----------Font link part start----------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ----------Font link part End----------- */


/* ----------Common css part start----------- */
* {
    padding: o;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

ul,ol{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

:root{
    --primary-color: #30B868;
    --orange: #F95555;
    --black-text: #001931;
    --sec-text: #627382;
}


/* ----------Common css part end----------- */



/* --------Navbar part start----- */

#navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 346px;
    padding: 15px 0;
}


.logo img{
    width: 139px;
    height: 60px;
}

.menu ul{
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu ul li a{
    color: var(--black-text);
}

.menu ul li a:hover{
    color: var(--primary-color);
}


.nav-btn{
    width: 164px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--primary-color);
    font-size: 16px;
    color: white;
}
/* --------Navbar part End----- */


/* --------Navbar part start----- */
/* --------Navbar part End----- */


/* --------Navbar part start----- */
/* --------Navbar part End----- */


/* --------Navbar part start----- */
/* --------Navbar part End----- */


/* --------Navbar part start----- */
/* --------Navbar part End----- */