/* ----------Font link part start----------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ----------Font link part End----------- */


/* ----------Common css part start----------- */
* {
    padding: o;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

ul,ol{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}


/* ----------Common css part end----------- */